body{
    margin: 0;
}

.blu{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 200px;

}

.re{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 400px;
    top: 400px;
    
}

.yello{
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    
}